---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import HomepageButton from "../components/HomepageButton.astro";
import Prose from "../components/Prose.astro";

import logo from "../../public/img/logo-quarto-raggio.svg";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="it">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <header class="mb-2 flex items-center justify-between gap-x-6">
      <Image src={logo} alt="logo quarto raggio" class="size-8" />
      <HomepageButton />
    </header>

    <Prose>
      <article>
        <main>
          <center>
            <FormattedDate date={pubDate} />
            <h1 class="mt-1">{title}</h1>
            <p class="mt-0 -mb-3">{description}</p>
            <hr />
          </center>
        </main>
        <slot />
      </article>
    </Prose>
  </body>
</html>
