---
import BaseHead from "@/components/BaseHead.astro";
import Prose from "@/components/Prose.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import TitleSection from "@/components/layout/TitleSection.astro";
import type { PublicBlogPost } from "@/content/types";
import type { MarkdownHeading } from "astro";

type Props = PublicBlogPost & { headings?: MarkdownHeading[] };
const { title, description, pubDate, headings } = Astro.props;
---

<html lang="it">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main>
      <TitleSection title={title} description={description} date={pubDate} />
    </main>

    <section class="mb-12">
      {headings && <TableOfContents headings={headings} />}
    </section>

    <article>
      <Prose>
        <slot />
      </Prose>
    </article>

    <Footer />
  </body>
</html>

<!-- <script src="@/scripts/highlight-hash-target.ts"></script> -->
