---
import { getEntries, type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Prose from "../components/Prose.astro";

type Props = CollectionEntry<"series">["data"];

const { title, description, posts } = Astro.props;
const relatedPosts = await getEntries(posts);
---

<html lang="it">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <header class="mb-4">
      <a href="/" class="hover:underline">[back to homepage]</a>
    </header>
    <Prose>
      <article>
        <main>
          <center>
            <h1 class="mt-1 mb-3">{title}</h1>
            <p class="mt-0 -mb-3">{description}</p>
            <hr />
          </center>
        </main>
        <slot />
      </article>

      <section>
        <h2>Posts</h2>
        <ul class="not-prose">
          {
            relatedPosts.map((post) => (
              <li class="hover:underline underline-offset-2">
                <a href={`/blog/${post.slug}/`}>
                  <h4 class="font-bold">{post.data.title}</h4>
                  <p class="text-sm">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
                <hr class="my-1" />
              </li>
            ))
          }
        </ul>
      </section>
    </Prose>
  </body>
</html>
