---
import BaseHead from "@/components/BaseHead.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Prose from "@/components/Prose.astro";
import TitleSection from "@/components/layout/TitleSection.astro";
import Header from "@/components/layout/Header.astro";
import type { PublicBlogCollectionEntry } from "@/content/types";
import { getEntries, type CollectionEntry } from "astro:content";

type Props = CollectionEntry<"series">["data"];
const { title, description, posts } = Astro.props;
const relatedPosts = await getEntries(posts);
---

<html lang="it">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main>
      <TitleSection title={title} description={description} />
    </main>

    <Prose>
      <article>
        <slot />
      </article>

      <section>
        <h2>Posts:</h2>
        <ul class="not-prose">
          {
            relatedPosts
              .filter((p): p is PublicBlogCollectionEntry => !p.data.draft)
              .map((post) => (
                <li class="hover:underline underline-offset-2">
                  <a href={`/blog/${post.slug}/`}>
                    <h4 class="font-bold">{post.data.title}</h4>
                    <p class="text-sm">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </a>
                  <hr class="my-1" />
                </li>
              ))
          }
        </ul>
      </section>
    </Prose>
  </body>
</html>
